
/* GLOBAL | GENERAL CSS */

    .headingFontStyle {
        /* font-family: 'Roboto Serif', sans-serif; */ 
        font-family: 'Lora', serif;
    }

    /* ALL content not part of the footer should go in a container */
    .nonFooterWrapper{
        flex: 1 0 auto;
    }


/* ---------------------------------------------------------------------------------------------- */


/*   LANDING PAGE   */

    .landingContainer {
        height: 100vh;
        /* background: url('./images/desertBWRainWithLogo.jpg') no-repeat center fixed;     
        background-size: cover; */    
    }

    .landPgTitle {
        text-align: center;
    }

    form .confirmAgeMsg {
        color: whitesmoke;
        letter-spacing: 0.1rem;
        font-weight: bold;
        font-family: 'Oooh Baby', cursive;
        /* background-color: rgba(0, 0, 0, 0.5); */
        padding: 0.5rem;
        border-radius: 1rem;
    }

    form .enterBtnLanding {
        background-color: black !important;
        color: white !important;
        font-family: 'Oooh Baby', cursive !important;
        font-weight: 600;
        border: none !important;
        letter-spacing: 0.15rem !important;
        border-radius: 1rem !important;
    }

    form .enterBtnLanding:hover {
        color: rgb(231, 198, 108) !important;
    }

    #confirmAgeError {
        /* font-size: 2.5rem; */
        color: rgb(231, 198, 108);
        font-family: 'Oooh Baby', cursive !important;
        font-weight: 600;    
    }


/* ---------------------------------------------------------------------------------------------- */


/* SIDE NAVIGATION (OFF CANVAS) */
    .burgerMenu{
        font-size: 3rem;
        color: white;
        margin-left: 0.5rem;
        margin-top: 0.25rem;
    }

    .burgerMenu:hover {
        cursor: pointer;
        color:rgb(231, 198, 108);
    }

    .sideNavMain {
        background-color: #6b6f75 !important;
    }

    .sideNavTitle {
        font-size: 1.75rem !important;
        font-weight: bold !important;
    }

    .sideNavList {
        list-style: none;
        font-size: 1.25rem;
        line-height: 2.75rem;
    }
    
    .navLinks {
        color: black !important;
    }

    .navLinks:hover {
        color: rgb(231, 198, 108) !important;
    }


/* ---------------------------------------------------------------------------------------------- */


/*   HOME   */

    .homeContainer {
        background-color: black;
        /* background-color: rgb(11, 11, 11); */
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden; 
    }


    .homeHeader {
        color: white;
        animation: fadeIn 5s;
    }

    .homeVineyardImg {
        border-radius: 1rem;
        animation: fadeIn 5s;
    }

    .underLineWord {
        /* background-image: linear-gradient(rgba(58, 186, 236, 0.6), rgba(58, 186, 236, 0.6)); */
        background-image: linear-gradient(rgba(200, 255, 137, 0.6), rgba(200, 255, 137, 0.6));
        background-size: 100% 10%;
        background-repeat: no-repeat;
        background-position: 0% 90%;
    }

    .homeSubHeader1 {
       color: white;
       animation: fadeIn 5s;
    }

    .homeCircles {   
       border-radius: 50%;
       color: white;
       font-weight: bold;
    }
   
    .ourVineyardsImg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/colorfulGrapes.jpeg') no-repeat center;  
        background-size: cover;
    }

    .winePourImg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/pouringWine.jpeg') no-repeat center;  
        background-size: cover;
    }

    .homeInfoTxt {
        color: white;
    }

    #ageReqrmntMsg {
        font-size: 1rem;
    }

    .accomplishmentsWrapper {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./images/goldShimmer.jpeg') no-repeat center;  
        background-size: cover;
    }

    .accomplishments {
        color: white;
        background: rgba(0, 0, 0, 0.7);
        padding: 1rem;
    }

    .homeVineyardImg2 {
        height: 70vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/vineyard2Home.jpeg') no-repeat center;     
        background-size: cover;
    }

    #visitUs {
        color: white;
        font-weight: 600;
    }

    #hoursOfOp {
        color: white;
    }
    


/* ---------------------------------------------------------------------------------------------- */

/* ABOUT */

    .aboutContainer {
        background-color: black;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden; 
    }

    .aboutUsMainImg {
        height: 100vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/vinyardAbout.jpeg') no-repeat center;     
        background-size: cover;
        animation: fadeIn 5s;
    }

    @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }

    .ourStoryHeaders {
        color: white;
        font-weight: bold;
        animation: fadeIn 5s
    }

    .aboutCircles {   
        border-radius: 50%;
        color: white;
        font-weight: bold;
     }

    .ourHistoryImg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/tractorAbout.jpeg') no-repeat center;  
        background-size: cover;
    }

    .ourVinesImg {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/grapesAbout.jpeg') no-repeat center;  
        background-size: cover;
    }

    .aboutInfoTxt {
        color: white;
    }

    .aboutUsImg2 {
        height: 70vh;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/wineOceanBkgrd.jpeg') no-repeat center;     
        background-size: cover;
    }


 
/* ---------------------------------------------------------------------------------------------- */


/*   WINE PAGE  */

    .wineContainer {
        height: 100vh;
        /* background-color: black; */
        /* background-color: rgb(26, 26, 26); */
        background-color: rgb(14, 13, 13);
        overflow-y: scroll;
        overflow-x: hidden;

    }

    .wineWrapper {
        flex: 1 0 auto;
    }

    .mainWine {
        /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./images/greyPtrn.jpeg') no-repeat center; */  
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/bwWood.jpeg') no-repeat center;  
        background-size: cover;
        border-radius: 1rem;
        padding-top: 1rem;
    }

    .wineBottleImg {
        border-radius: 1rem;
    }



/* ---------------------------------------------------------------------------------------------- */



/* WINE ACCORDION (SELECTIONS) */

button.accordion-button {
    background-color: rgb(207, 203, 203) !important;
    color: black !important;
    /* font-size: 1.25rem; */
}

.winePrice {
    font-size: 1.1rem;
    font-weight: bold;
}

.quantityButtons {
    border-radius: 50%;
    background-color: rgb(207, 203, 203);
    font-weight: bold;
    width: 30px;
    height: 25px;
    text-align: center;
    margin-top: 0.5rem;
}

.quantityButtons:hover {
    cursor: pointer;
}

.qtyValue {
    width: 35px;
    text-align: center;
    margin-top: 0.5rem;
}

.addCartBtn {
    background-color: black !important;
    border: none !important;
    color: rgb(231, 198, 108) !important;
    border-radius: 1rem !important;
}


/* ---------------------------------------------------------------------------------------------- */


/*   LOGIN   */

    .loginContainer {
        height: 100vh;
        overflow-x: hidden;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./images/bwMountains.jpg') no-repeat center;     
        background-size: cover;
        /* background-color: black; */
    }

    .loginForm {
        border: 3px solid rgb(231, 198, 108);
        padding: 2rem;
        border-radius: 1rem;
    }

    #loginTitle {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: 0.25rem;
        color: white;
    }

    .loginButton {
        width: 8rem;
        border-radius: 1rem !important;
        background-color: #6b6f75 !important;
        border: none !important;
        font-size: 1.1rem !important;    
    }

    .loginButton:hover {
        color:rgb(231, 198, 108) !important;
    }


    .loginErrMsg {
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }


/* ---------------------------------------------------------------------------------------------- */


/* REGISTER */

    .registerContainer {
        height: 100vh;
        overflow-x: hidden;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./images/bwMountains.jpg') no-repeat center;     
        background-size: cover;
        /* background-color: black; */
    }

    #registerTitle {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        color: white;
        margin-bottom: 1rem;
    }

    .registerForm {
        border: 3px solid rgb(231, 198, 108);
        padding: 2rem;
        border-radius: 1rem;
    }

    .registerButton {
        width: 8rem;
        border-radius: 1rem !important;
        background-color: #6b6f75 !important;
        border: none !important;
        font-size: 1.1rem !important;    
    }

    .registerButton:hover {
        color:rgb(231, 198, 108) !important;
    }

    .registerErrMsg {
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }


/* ---------------------------------------------------------------------------------------------- */


/* CART */

    .cartContainer {
        height: 100vh;
        background-color: black;
    }

    .emptyCartMain {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/wineShelf2.jpeg') no-repeat center;     
        background-size: cover;
        filter: grayscale(100%);
    }

    .fullCartMain {
        height: 100vh;
        width: 100vw;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/greyTexture.jpeg') no-repeat center;     
        background-size: cover; 
    }

    .cartMain {
        /* background-color: rgba(76, 76, 78, 0.8); */
        background-color: rgba(27, 27, 27, 0.7);
        color: white;
        padding: 1.5rem;
        border-radius: 1rem;
        border: 3px solid black;
        overflow-y: auto; 
        scrollbar-color: white rgba(27, 27, 27, 0.7);
    }

    .cartMain::-webkit-scrollbar {
        height: 12px;
        width: 12px;
        background: rgba(27, 27, 27, 0.7);
    }
    
    .cartMain::-webkit-scrollbar-thumb {
        background: white;
        -webkit-border-radius: 1rem;
        /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
    }
    
    .cartMain::-webkit-scrollbar-corner {
        background: rgba(27, 27, 27, 0.7);;
    }

    .cartHeadingEmpty {
        letter-spacing: 0.25rem;
        margin-bottom: 0.75rem;
        color: white;
        font-weight: bolder;
    }

    .cartHeadingFull {
        letter-spacing: 0.25rem;
        margin-bottom: 0.75rem;
    }

    .startShopBtn {
        background-color: black !important;
        border: 1px solid white !important;
        color: white !important;
        border-radius: 1rem !important;
    }

    .startShopBtn:hover {
        background-color: white !important;
        color: black !important;
    }

    .rtnHomeLinkCart {
        font-size: 1.3rem;
        color: white;
        font-weight: bolder;
    }

    .rtnHomeLinkCart:hover {
        color: black;
    }

    .cartImg {
        border-radius: 1rem;
    }

    .cartQtyBtns {
        border-radius: 50%;
        background-color: rgb(207, 203, 203);
        color: black;
        font-weight: bold;
        text-align: center;
        margin-top: 0.6rem;
    }

    .cartQtyBtns:hover {
        cursor: pointer;
    }

    .trashCan{
        color: white;
    }

    .trashCan:hover {
        cursor: pointer;
        color:rgb(231, 198, 108);
    }

    .cartContShpLink {
        color: white !important;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }

    .cartContShpLink:hover {
        color: rgb(231, 198, 108) !important;
    }
    
    .cartWarningMsg {
        color: red;

    }

    #checkoutBtn {
        background-color: black !important;
        color: white !important;
        border: none;
    }

    #checkoutBtn:hover {
        color: white !important;
    }

    

/* ---------------------------------------------------------------------------------------------- */


/* FOOTER */
    .footer {
        color: white;
        background-color: rgba(70, 70, 70, 0.226);
        flex-shrink: 0;
        padding: 1rem;
    }

    #aboutCo {
        font-weight: bold;
        margin-bottom: 0.6rem;
    }

    #aboutTxt {
        color: rgb(168, 165, 165);
    }

    .footerLinks {
        color: rgb(231, 198, 108);
    }

    .footerLinks:hover {
        color: white;
    }

    .followUs {
        font-weight: bold;
        font-size: 1.06rem;
    }

    .socMediaLinks {
        color: white;
    }

    .socMediaLinks:hover {
        color: rgb(231, 198, 108);
    }

    .socMediaLinks {
        background-color: rgba(231, 198, 108, 0.95);
        padding: 0.5rem;
        border-radius: 50%;
    }

    .socMediaIcons {
        font-size: 1.35rem;
        color: black;
    }



/* ---------------------------------------------------------------------------------------------- */



/*   MEDIA QUERIES   */


/* MIN WIDTH 280px (Galaxy Fold) */
@media only screen and (min-width: 280px) {
    /* LANDING */
        .landingContainer {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/landPg1.jpg') no-repeat center fixed; 
            background-size: cover;    
        }

        .landHeadingFormWrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .landPgTitle {
            font-size: 3rem;
            color: white;
        }

        form .confirmAgeMsg {
            font-size: 1.2rem;
        }

        form .enterBtnLanding {
            font-size: 1.3rem !important;
            width: 12rem !important;   
        }

        #confirmAgeError {
            font-size: 1.5rem;   
        }


    /* LOGIN */
        .loginForm {
            margin-left: 5%;
            margin-right: 5%;
        }

        #loginTitle {
            margin-top: 45%;
            font-size: 2rem;
        }


    /* REGISTER */
        .registerForm {
            margin-left: 5%;
            margin-right: 5%;
        }

        #registerTitle {
            margin-top: 25%;
            font-size: 2rem;
        }

 
    /* FORM */
        input::placeholder {
            font-size: 1.1rem;
        }
  

    /* HOME */
        .homeVineyardImg {
            width: 85vw;
            height: auto;
        }

        #swirlWrapper {
            display: none;  
        }

        .homeCircles {  
            width: 88vw;
            height: 88vw; 
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .homeInfoTxt {
            font-size: 1.2rem;
        }

        #wineTours {
            padding-left: 1rem;
        }

        #accompTitle {
            font-size: 1.6rem;
            font-weight: bold;
        }

        #visitUs {
            font-size: 1.65rem;
            padding-left: 1rem;
        }
    
        #hoursOfOp {
            font-size: 1.1rem;
            padding-left: 1rem;
        }


    /* ABOUT */

        .aboutCircles {  
            width: 88vw;
            height: 88vw; 
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .aboutInfoTxt {
            font-size: 1.2rem;
        }

        .ourStoryHeaders {
            font-size: 3rem;
            padding-left: 1rem;
        }

    
    /* CART */
        .cartHeadingEmpty {
            font-size: 1.75rem; 
            margin-top: 10vh; 
        }

        .cartHeadingFull {
            font-size: 1.75rem;  
        }

        .cartMain {
            width: 80vw;
            height: 70vh;
        }

        .cartImg {
            width: auto;
            height: 14vh;
            margin-bottom: 1rem;
            margin-top: 1rem;
        }

        .cartItemName {
            margin-top: 1rem;
            font-size: 1.05rem;
        }

        .cartItemTotal {
            font-size: 1.05rem;
            margin-top: 0.5rem;
            margin-left: -0.35rem;
        }

        .cartQtyBtns {
            width: 22px;
            height: 20.5px;
        }

        .trashCan {
            font-size: 1.08rem;
            margin-top: 0.7rem;
        }
       

    /* FOOTER */
        .footerLftCol {
            margin-bottom: 30px;
        }

        .footerCtrCol {
            margin-bottom: 30px;   
        }

        
    /* WINE */
        .wineBottleImg {
            width: 70vw;
            height: auto;
            margin-bottom: 6.5%;
        }
        
}



/* MIN WIDTH 320px */
@media only screen and (min-width: 320px) {
    /* LANDING */ 
        form .confirmAgeMsg {
            font-size: 1.33rem;
        }
    
        form .enterBtnLanding {
            font-size: 1.375rem !important;   
        }

    /* LOGIN */
        #loginTitle {
            margin-top: 35%;
        }

        .landPgTitle {
            font-size: 3.5rem;
        }

    /* HOME */
        #wineTours {
            padding-left: 0rem;
        }

    
    /* CART */
        .startShopBtn {
            font-size: 1.25rem !important;
            width: 7rem;
            height: 2.5rem;
        }
        .cartHeadingEmpty {
            font-size: 2.05rem;
            margin-top: 11.16vh;     
        }

        .cartHeadingFull {
            font-size: 2.05rem;  
        }

        .cartItemTotal {
            margin-left: 0.2rem;
        }

        .qtyBtnsContainer {
            margin-left: 0.9rem;
        }

        .cartContShpLink {
            font-size: 1.1em;
        }

        .cartWarningMsg {
            font-size: 1.15em;
        }

        #subtotal {
            font-size: 1.25rem;
        }

        #checkoutBtn {
            width: 8rem;
        }
}




/* MIN WIDTH 375px MAX HEIGHT 823px 
   iPhone6/7/8/X, LG OptimusL70, Pixel2/2XL, Nexus5X  */
@media only screen and (min-width: 375px) and (max-height: 823px) {
    /* LANDING */

}



/* SAMSUNG GALAXY WIDTH 412px HEIGHT 914 */
@media only screen and (width: 412px) and (height: 914px) {
    /* LANDING */
        .landPgTitle {
            font-size: 3.5rem;
        }

        form .confirmAgeMsg {
            font-size: 1.5rem;
        }

        form .enterBtnLanding {
            font-size: 1.5rem !important;   
        }

        #confirmAgeError {
            font-size: 1.5rem;    
        }
}




/* MIN WIDTH 414px */
@media only screen and (min-width: 414px) {
    /* LANDING */
        form .confirmAgeMsg {
            font-size: 1.33rem;
        }

        form .enterBtnLanding {
            font-size: 1.375rem !important;   
        }
    
    /* HOME */
        .homeCircles { 
            width: 80vw;
            height: 80vw; 
        }

    
    /* ABOUT */
        .aboutCircles { 
            width: 80vw;
            height: 80vw; 
        }
    

    /* CART */
        .cartMain {
            width: 85vw;
            height: 85vh;
        }

        .cartItemTotal {
            margin-left: 1.5rem;
        }

        .qtyBtnsContainer {
            margin-left: 2.6rem;
        }


}



/* MIN WIDTH 500px */
@media only screen and (min-width: 500px) {
    /* LOGIN */
        #loginTitle {
            margin-top: 25%;
        }

    /* REGISTER */
        #registerTitle {
            margin-top: 15%;
        }

    /* WINE */
        .wineBottleImg {
            width: 55vw;
            height: auto;
        }
    

}





/* MIN WIDTH 576px */
@media only screen and (min-width: 576px) {
    /* LANDING */
        .landPgTitle {
            font-size: 4rem;
        }

        form .confirmAgeMsg {
            font-size: 1.46rem;
        }

        form .enterBtnLanding {
            font-size: 1.45rem !important;   
        }

        #confirmAgeError {
            font-size: 1.5rem;    
        }
   

    /* LOGIN */
        .loginForm {
            margin-left: 13%;
            margin-right: 13%;
        }

        #loginTitle {
            margin-top: 20%;
            font-size: 2.32rem;
        }

    /* REGISTER */
        .registerForm {
            margin-left: 12%;
            margin-right: 12%;
        }
        
        #registerTitle {
            margin-top: 13%;
            font-size: 2.32rem;
        }


    /* FORM */
        input::placeholder {
            font-size: 1.2rem;
        }


    /* HOME */
        .homeVineyardImg {
            width: 70vw;
            height: auto;
        }

        .homeCircles {  
            width: 70vw;
            height: 70vw; 
        }

        #accompTitle {
            font-size: 1.78rem;
        }

        #visitUs {
            font-size: 1.87rem;
            padding-left: 0rem;
        }
    
        #hoursOfOp {
            font-size: 1.18rem;
            padding-left: 0rem;
        }

    
    /* ABOUT */
        .aboutCircles {  
            width: 70vw;
            height: 70vw; 
        }

        .ourStoryHeaders {
            font-size: 3.4rem;
            padding-left: 0rem;
        }


    /* CART */

        .startShopBtn {
            font-size: 1.40rem !important;
            width: 9rem;
            height: 3rem;
        }
        .cartHeadingEmpty {
            font-size: 2.35rem; 
            margin-top: 12.32vh; 
        }

        .cartHeadingFull {
            font-size: 2.35rem;  
        }

        .cartImg {
            width: auto;
            height: 20vh;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }

        .cartItemName {
            margin-top: 1rem;
            font-size: 1.09rem;
        }

        .cartItemTotal {
            font-size: 1.08rem;
            margin-top: 0.5rem;
            margin-left: 2rem;
        }

        .cartQtyBtns {
            width: 23.6px;
            height: 21.4px;
        }

        .qtyBtnsContainer {
            margin-left: -2.6rem;
        }

        .trashCan {
            font-size: 1.115rem;
            margin-top: 1.35rem;
        }

        .cartContShpLink {
            font-size: 1.15em;
        }

        .cartWarningMsg {
            font-size: 1.2em;
        }

        #subtotal {
            font-size: 1.3rem;
        }
       
        #taxShipMsg {
            font-size: 1.05rem;
        }

    
    /* WINE */
        .wineBottleImg {
            width: 50vw;
            height: auto;
        }
}





/* MIN WIDTH 768px */
@media only screen and (min-width: 768px) {
    /* LANDING */
        form .confirmAgeMsg {
            font-size: 1.59rem;
        }

        form .enterBtnLanding {
            font-size: 1.625rem !important;   
        }

        #confirmAgeError {
            font-size: 2rem;    
        }


    /* LOGIN */
        .loginForm {
            margin-left: 22%;
            margin-right: 22%;
        }

        #loginTitle {
            margin-top: 18%; 
            font-size: 2.42rem;  
        }

    /* REGISTER */
        #registerTitle {
            /* margin-top: 25%; */
            font-size: 2.42rem;
        }

    /* HOME */
        .homeVineyardImg {
            width: 45vw;
            height: auto;
        }

        #swirlWrapper {
            display: block;
            animation: fadeIn 5s;
        }

        #swirl {
            /* width: 10rem; */
            width: calc(75% * 0.5);
            height: auto;   
        }

        .homeCircles { 
            width: 43vw;
            height: 43vw;  
        }


        .homeInfoTxt {
            font-size: 1.3rem;
        }

        #accompTitle {
            font-size: 1.96rem;
        }

        .accomplishments {
            font-size: 1.1rem;
        }

        #visitUs {
            font-size: 2.09rem;
        }
    
        #hoursOfOp {
            font-size: 1.26rem;
        }


    /* ABOUT */
        .aboutCircles { 
            width: 43vw;
            height: 43vw;  
        }

        .aboutInfoTxt {
            font-size: 1.3rem;
        }

        .ourStoryHeaders {
            font-size: 3.8rem;
        }


    /* CART */
        .startShopBtn {
            font-size: 1.55rem !important;
            width: 11rem;
            height: 3.25rem;
        }

        .cartHeadingEmpty {
            font-size: 2.65rem; 
            margin-top: 13.48vh; 
        }

        .cartHeadingFull {
            font-size: 2.65rem;  
        }

        .cartImg {
            width: auto;
            height: 28vh;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }

        .cartItemName {
            margin-top: 1rem;
            font-size: 1.13rem;
        }

        .cartItemTotal {
            font-size: 1.11rem;
            margin-top: 0.5rem;
            margin-left: 2.7rem;
        }

        .cartQtyBtns {
            width: 25.2px;
            height: 22.3px;
        }

        .qtyBtnsContainer {
            margin-left: -3rem;
        }

        .trashCan {
            font-size: 1.15rem;
            margin-top: 1.35rem;
        }

        .cartContShpLink {
            font-size: 1.2em;
        }

        .cartWarningMsg {
            font-size: 1.25em;
        }

        #subtotal {
            font-size: 1.35rem;
        }
       
        #taxShipMsg {
            font-size: 1.08rem;
        }

    /* WINE */
        .wineBottleImg {
            width: 25vw;
            height: auto;
        }

        button.accordion-button {
            font-size: 1.12rem;
        }

}




/* iPAD MINI - WIDTH 768px HEIGHT 1024px */
@media only screen and (width: 768px) and (height: 1024px) {
    /* LANDING */
        .landingContainer {
            background: url('./images/landPg1.jpg') no-repeat center fixed;     
            background-size: cover;    
        }

        .landPgTitle {
            /* display: block; */
            font-size: 6.25rem;
        }

        form .confirmAgeMsg {
            font-size: 2.3rem;
        }

        form .enterBtnLanding {
            font-size: 2.5rem !important;   
        }

        #confirmAgeError {
            font-size: 2rem;    
        }

    /* HOME */


    /* ABOUT */



    /* CART */
        .cartHeadingEmpty {
            margin-top: 20vh;
        }
}




/* WIDTH 800px HEIGHT 1280px */
/* Kindle Fire HDX, NEXUS 10  */
@media only screen and (width: 800px) and (height: 1280px) {
    /* LANDING */
        .landPgTitle {
            font-size: 6.25rem;
        }

        form .confirmAgeMsg {
            font-size: 2.3rem;
        }

        form .enterBtnLanding {
            font-size: 2.5rem !important;   
        }

        #confirmAgeError {
            font-size: 2rem;    
        }
}


/* iPAD AIR - WIDTH 820px HEIGHT 1180px */
@media only screen and (width: 820px) and (height: 1180px) {
    /* LANDING */
        .landingContainer {
            background: url('./images/landPg1.jpg') no-repeat center fixed;     
            background-size: cover;    
        }

        .landPgTitle {
            /* display: block; */
            font-size: 6.25rem;
        }

        form .confirmAgeMsg {
            font-size: 2.3rem;
        }

        form .enterBtnLanding {
            font-size: 2.5rem !important;   
        }

        #confirmAgeError {
            font-size: 2rem;    
        }

    /* HOME */

    
    /* ABOUT */



    /* CART */
        .cartHeadingEmpty {
            margin-top: 20vh;
        }
}


/* SURFACE PRO 7 - WIDTH 912px HEIGHT 1368px */
@media only screen and (width: 912px) and (height: 1368px) {
    /* LANDING */
        .landingContainer {
            background: url('./images/landPg1.jpg') no-repeat center fixed;     
            background-size: cover;    
        }

        .landPgTitle {
            /* display: block; */
            font-size: 7.25rem;
        }

        form .confirmAgeMsg {
            font-size: 2.7rem;
        }

        form .enterBtnLanding {
            font-size: 2.8rem !important;   
        }

        #confirmAgeError {
            font-size: 2.25rem;    
        }

    /* HOME */


    /* ABOUT */


    /* CART */
        .cartHeadingEmpty {
            margin-top: 25vh;
        }
}


/* MIN WIDTH 992px */
@media only screen and (min-width: 992px) {
    /* LANDING */
        form .confirmAgeMsg {
            font-size: 1.72rem;
        }

        form .enterBtnLanding {
            font-size: 1.7rem !important;   
        }

        #confirmAgeError {
            font-size: 2.5rem;    
        }
    
    /* LOGIN */
        .loginForm {
            margin-left: 28%;
            margin-right: 28%;
        }

        #loginTitle {
            margin-top: 12%;
            font-size: 2.63rem;
    }

    /* REGISTER */
        #registerTitle {
            margin-top: 11.5%;
            font-size: 2.63rem;
        }

    /* HOME */
        .homeCircles { 
            width: 37vw;
            height: 37vw; 
            font-size: 1.7rem;
        }

        #accompTitle {
            font-size: 2.14rem;
        }

        #visitUs {
            font-size: 2.31rem;
        }
    
        #hoursOfOp {
            font-size: 1.34rem;
        }


    /* ABOUT */
        .aboutCircles { 
            width: 37vw;
            height: 37vw; 
            font-size: 1.7rem;
        }

        .ourStoryHeaders {
            font-size: 4.2rem;
        }


    /* CART */
        .startShopBtn {
            font-size: 1.7rem !important;
            width: 12rem;
            height: 3.5rem;
        }
        .cartHeadingEmpty {
            font-size: 2.95rem; 
            margin-top: 14.64vh; 
        }

        .cartHeadingFull {
            font-size: 2.95rem;  
        }

        .cartImg {
            width: auto;
            height: 33.5vh;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }

        .cartItemName {
            margin-top: 1rem;
            font-size: 1.18rem;
        }

        .cartItemTotal {
            font-size: 1.18rem;
            margin-top: 0.5rem;
            margin-left: 4.5rem;
        }

        .cartQtyBtns {
            width: 26.8px;
            height: 23.2px;
        }

        .qtyBtnsContainer {
            margin-left: -4rem;
        }

        .trashCan {
            font-size: 1.19rem;
            margin-top: 1.35rem;
        }

        .cartContShpLink {
            font-size: 1.25em;
        }

        .cartWarningMsg {
            font-size: 1.3em;
        }

        #subtotal {
            font-size: 1.35rem;
        }
        #checkoutBtn {
            width: 9rem;
        }
       
    
    /* FOOTER */
        .footerLftCol {
            margin-bottom: 0px;
           
        }

        .footerCtrCol {
            margin-bottom: 0px;
            margin-left: -3rem;   
        }

        .footerRgtCol {
            margin-left: 3rem;
        }

}




/* MIN WIDTH 1024px */
@media only screen and (min-width: 1024px) {
    /* LOGIN */
        #loginTitle {
            margin-top: 10%;   
        }
 }





/* (NEST HUB) WIDTH 1024px / HEIGHT 600px  */
@media only screen and (width: 1024px) and (height: 600px) {
    /* LANDING */
        .landingContainer {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./images/landPg1.jpg') no-repeat center fixed; 
            background-size: cover;    
        }

        .landPgTitle {
            display: block;
            font-size: 7.25rem;
        }

        form .confirmAgeMsg {
            font-size: 1.8rem;
        }

        form .enterBtnLanding {
            font-size: 1.8rem !important;   
        }

        #confirmAgeError {
            font-size: 2.5rem;    
        }


    /* LOGIN */
        #loginTitle {
            margin-top: 12%;   
        }
    

    /* REGISTER */
        #registerTitle {
            margin-top: 10%;
        }
}





/* WIDTH 1024px HEIGHT 1366px */
/* iPad Pro  */
@media only screen and (width: 1024px) and (height: 1366px) {
    /* LANDING */
        .landPgTitle {
            font-size: 6.25rem;
        }

        form .confirmAgeMsg {
            font-size: 2.3rem;
        }

        form .enterBtnLanding {
            font-size: 2.5rem !important;   
        }

        #confirmAgeError {
            font-size: 2.5rem;    
        }
}





/* MIN WIDTH 1200px */
@media only screen and (min-width: 1200px) {
    /* LANDING */
        .landingContainer {
            background: url('./images/desertBWRainWithLogo.jpg') no-repeat center fixed;     
            background-size: cover;    
        }

        .landHeadingFormWrapper {
            display: block;
            margin-top: 61vh;
        }

        .landPgTitle {
            display: none;
        }

        form .confirmAgeMsg {
            font-size: 1.85rem;
        }

        form .enterBtnLanding {
            font-size: 1.75rem !important;   
        }

        #confirmAgeError {
            font-size: 3rem;    
        }
    

    /* LOGIN */
        .loginForm {
            margin-left: 30%;
            margin-right: 30%;
        }

        #loginTitle {
            font-size: 2.84rem;
        }

    /* REGISTER */
        .registerForm {
            margin-left: 16%;
            margin-right: 16%;
        }
    
        #registerTitle {
            margin-top: 9%;
            font-size: 2.84rem;
        }

    /* HOME */

        .homeCircles { 
            width: 31vw;
            height: 31vw; 
            font-size: 1.8rem;
        }

        .homeInfoTxt {
            font-size: 1.4rem;
        }

        #accompTitle {
            font-size: 2.32rem;
        }

        #visitUs {
            font-size: 2.52rem;
        }
    
        #hoursOfOp {
            font-size: 1.42rem;
        }


    /* ABOUT */
        .aboutCircles { 
            width: 31vw;
            height: 31vw; 
            font-size: 1.8rem;
        }

        .aboutInfoTxt {
            font-size: 1.4rem;
        }

        .ourStoryHeaders {
            font-size: 4.6rem;
        }



    /* CART */
        .startShopBtn {
            font-size: 1.85rem !important;
            width: 12.5rem;
            height: 3.5rem;
        }
        .cartHeadingEmpty {
            font-size: 3.25rem;
            margin-top: 15.80vh;  
        }

        .cartHeadingFull {
            font-size: 3.25rem;  
        }

        .cartImg {
            width: auto;
            height: 37vh;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }

        .cartItemName {
            margin-top: 1rem;
            font-size: 1.4rem;
        }

        .cartItemPrice {
            font-size: 1.1rem;
        }

        .cartItemTotal {
            font-size: 1.4rem;
            margin-top: 1rem;
            margin-left: -0.1rem;
        }

        .cartQtyBtns {
            width: 28.4px;
            height: 24.1px;
        }

        .qtyBtnsContainer {
            margin-left: 1.2rem;
            margin-top: 0.75rem;
        }

        .trashCan {
            font-size: 1.4rem;
            margin-top: 1.35rem;
        }

        .cartContShpLink {
            font-size: 1.3em;
        }

        .cartWarningMsg {
            font-size: 1.35em;
        }

        #subtotal {
            font-size: 1.45rem;
        }

        #checkoutBtn {
            width: 9.5rem;
        }

        #taxShipMsg {
            font-size: 1.1rem;
        }

}


/* WIDTH 1280px HEIGHT 800px | NEST HUB MAX */
@media only screen and (width: 1280px) and (height: 800px) {
    /* LOGIN */
        #loginTitle {
            margin-top: 13%;   
        }

    /* REGISTER */
        #registerTitle {
            margin-top: 8.25%;
        }
 }



/* MIN WIDTH 1400px */
@media only screen and (min-width: 1400px) {
    /* LANDING */
        form .confirmAgeMsg {
            font-size: 2rem;
        }

        #confirmAgeError {
            font-size: 3.5rem;    
        }


    /* LOGIN */
        #loginTitle {
            margin-top: 10%;
            font-size: 3rem;
        }
    

    /* REGISTER */
        #registerTitle {
            margin-top: 7.5%;
            font-size: 3rem;
        }
    

    /* HOME */
        .homeCircles { 
            width: 29vw;
            height: 29vw; 
            font-size: 1.95rem;
        }

        #accompTitle {
            font-size: 2.5rem;
        }

        .accomplishments {
            font-size: 1.2rem;
        }

        #visitUs {
            font-size: 2.75rem;
        }
    
        #hoursOfOp {
            font-size: 1.5rem;
        }

    
    /* ABOUT */
        .aboutCircles { 
            width: 29vw;
            height: 29vw; 
            font-size: 1.95rem;
        }

        .ourStoryHeaders {
            font-size: 5rem;
        }


    /* CART */
        .startShopBtn {
            font-size: 2rem !important;
            width: 13rem;
            height: 3.75rem;
        }
        .cartHeadingEmpty {
            font-size: 3.5rem; 
            margin-top: 17vh; 
        }

        .cartHeadingFull {
            font-size: 3.5rem;  
        }


        .cartImg {
            width: auto;
            height: 39.5vh;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }

        .cartItemName {
            margin-top: 1rem;
            font-size: 1.5rem;
        }

        .cartItemPrice {
            font-size: 1.1rem;
        }

        .cartItemTotal {
            font-size: 1.5rem;
            margin-top: 1rem;
            margin-left: -0.1rem;
        }

        .cartQtyBtns {
            width: 30px;
            height: 25px;
        }

        .qtyBtnsContainer {
            margin-left: 1.2rem;
            margin-top: 0.75rem;
        }

        .trashCan {
            font-size: 1.5rem;
            margin-top: 1.35rem;
        }

        .cartContShpLink {
            font-size: 1.35em;
        }

        .cartWarningMsg {
            font-size: 1.4em;
        }

        #subtotal {
            font-size: 1.52rem;
        }

        #checkoutBtn {
            width: 9.5rem;
        }
       

    /* WINE */
        button.accordion-button {
            font-size: 1.25rem;
        }
}


/* MIN WIDTH 2560px */
/* MacBook PRO 13"/15"/16" */
@media only screen and (min-width: 2560px) {
    /* LANDING */
        form .confirmAgeMsg {
            font-size: 5rem;
        }

        form .enterBtnLanding {
            font-size: 4rem !important;  
            width: 18rem !important; 
        }

        #confirmAgeError {
            font-size: 4rem;   
        }
}